<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
</head>
<body>

    <h1 th:text="${userId} + '\'s Profile'">profile</h1>

    <div class="container">

        <form action="#" th:action="@{/edit}" th:object="${userProfile}" method="post">
            <div class="form-group">
                <label>Select your profile theme:</label>
                <select th:field="*{theme}">
                    <option th:each="i : ${#numbers.sequence(1, 3)}" th:value="${i}" th:text="${'Theme ' + i}"></option>
                </select>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input th:field="*{firstName}" class="form-control" type="text">

            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input th:field="*{lastName}" class="form-control" type="text">

            </div>

            <div class="form-group">
                <label>Email address</label>
                <input th:field="*{email}" type="email" class="form-control">

            </div>

            <div class="form-group">
                <label>Phone</label>
                <input th:field="*{phone}" class="form-control">
            </div>

            <div class="form-group">
                <label>Designation</label>
                <input th:field="*{designation}" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Summary</label>
                <textarea th:field="*{summary}" type="text" class="form-control"></textarea>
            </div>

    <!--        <p>First Name: <input type="text" th:field="*{firstName}" /></p>-->
    <!--&lt;!&ndash;        * indicates it is a field of the $userProfile object indicated in form tag&ndash;&gt;-->
    <!--&lt;!&ndash;        TODO:  REFACTOR - MAKE PROPER USE OF NEW HTML 5 TAGS, Upgrade to Bootstrap&ndash;&gt;-->
    <!--        <p>Last Name: <input type="text" th:field="*{lastName}" /></p>-->
    <!--        <p>Email: <input type="text" th:field="*{email}" /></p>-->
    <!--        <p>Phone: <input type="text" th:field="*{phone}" /></p>-->
    <!--        <p>Designation: <input type="text" th:field="*{designation}" /></p>-->

            <h3>Experience</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Designation</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Current Position?</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="job, stat: *{jobs}">  <!-- stat is like an index -->
<!--                    <p th:text="${stat}"></p>&ndash;&gt;-->
                    <td>
                        <input type="text" class="form-control" th:field="*{jobs[__${stat.index}__].company}" />
                    </td>
                    <td>
                        <input type="text" class="form-control" th:field="*{jobs[__${stat.index}__].designation}" />
                    </td>
                    <td>
                        <input type="date" class="form-control" th:field="*{jobs[__${stat.index}__].startDate}" />
                    </td>
                    <td>
                        <input type="date" class="form-control" th:field="*{jobs[__${stat.index}__].endDate}" />
                    </td>
                    <td>
                        <input type="checkbox" class="form-control" th:value="current" th:field="*{jobs[__${stat.index}__].currentJob}" />
                    </td>
                </tr>
                </tbody>
            </table>

            <p><a href="./edit?add=job">Add Job</a></p>


<!--            EDUCATION -->
            <h3>Education</h3>

            <table class="table">
                <thead>
                <tr>
                    <th>College</th>
                    <th>Qualification</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Summary</th>
<!--                    <th>Currently Enrolled?</th>-->
<!--                    <th>Expected Graduation Date?</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="education, stat: *{educations}">  <!-- stat is like an index -->
                    <!--                    <p th:text="${stat}"></p>&ndash;&gt;-->
                    <td>
                        <input type="text" class="form-control" th:field="*{educations[__${stat.index}__].college}" />
                    </td>
                    <td>
                        <input type="text" class="form-control" th:field="*{educations[__${stat.index}__].qualification}" />
                    </td>
                    <td>
                        <input type="date" class="form-control" th:field="*{educations[__${stat.index}__].startDate}" />
                    </td>
                    <td>
                        <input type="date" class="form-control" th:field="*{educations[__${stat.index}__].endDate}" />
                    </td>
                    <td>
                        <input class="form-control" th:value="current" th:field="*{educations[__${stat.index}__].summary}" />
                    </td>
                </tr>
                </tbody>
            </table>

            <p><a href="./edit?add=education">Add Education</a></p>

<!--            SKILLS -->
            <h3>Skills</h3>

            <table class="table">

                <tbody>
                <tr th:each="skill, stat: *{skills}">  <!-- stat is like an index -->
                    <!--                    <p th:text="${stat}"></p>&ndash;&gt;-->
                    <td>
                        <input type="text" class="form-control" th:field="*{skills[__${stat.index}__]}" />
                    </td>
                </tr>
                </tbody>
            </table>

            <p><a href="./edit?add=skill">Add Skill</a></p>

            <br />

            <input type="submit" value="Submit" />

            <br /><br />
        </form>
    </div>
</body>
</html>